<%-include('partials/header')%>

<%- include('partials/nav') %>
    <form method="POST" action="/comments/<%= comments.id %>/?_method=PATCH">
    <h1>edit</h1>
    <textarea name="tweet" id="" cols="30" rows="5"><%= comments.tweet %></textarea>
    <button>submit</button>
    </form>
    <a href="/comments">Back</a>
    <%- include('partials/footer') %>