<%- include('partials/header') %>

<%- include('partials/nav') %>
    <h1><%= tweet.id %></h1>
    <p><%= tweet.tweet %></p>
    <a href="/comments">Back</a>

    <a href="/comments/<%= tweet.id %>/Edit">Edit comment</a>
    <form action="/comments/<%= tweet.id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <%- include('partials/footer') %>