<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <h1>Edit <%= Product.name %></h1>
    <form action="/products/<%= Product._id %>?_method=PUT" method="post">
        <label for="name">Book Name</label>
        <input type="text" name="name" id="name" placeholder="book name" value="<%= Product.name %>">
        <label for="author">Book author</label>
        <input type="text" name="author" id="author" placeholder="book author" value="<%= Product.author  %>">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" value="<%= Product.price %>">
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="20" rows="5"><%= Product.description %></textarea>
        <label for="select">Category</label>
        <select name="category" id="select">
            <% for(category of categories) { %>
                <option value="<%= category %>" <%= Product.category === category ? 'selected':'' %>><%= category %></option>
                <% }  %>
        </select>
        <button>submit</button>
    </form>
    <a href="/products/<%= Product._id %>">cancel</a>
</body>
</html>